<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Ember.js SPA with auth</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              {{#link-to "index" tagName="li"}}
                  <a {{bind-attr href="view.href"}}>Main</a>
              {{/link-to}}
              {{#link-to "contacts" tagName="li"}}
                  <a {{bind-attr href="view.href"}}>Contacts</a>
              {{/link-to}}
              {{#if session.user}}
                {{#link-to "admin" tagName="li"}}
                    <a {{bind-attr href="view.href"}}>Admin dashboard</a>
                {{/link-to}}
              {{/if}}
                <li>
                  {{#if session.user}}
                      <a href="#/"  {{action  "logout"}}><span>{{session.user.name}}</span>, Sign out</a>
                  {{else}}
                    {{#link-to "login"}}Sign in{{/link-to}}
                  {{/if}}
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
  {{outlet}}
</div>